*{
    box-sizing: border-box;
}




body{
    background-image: url('');

    background-color: black;

    color: #eee;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

#page{
    width: auto;
}

#header{
    width: 1200px;

    max-width: 90%;

    margin: auto;

    display: inline-block;
}

#header_c{
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    max-height: fit-content;
}

#header_c ul{
    display: inline-block;
}

#header_c ul a{
    text-decoration: none;
    color: rgb(255, 230, 242);
}

.el-toolbar{
    display:inline-block;
    margin-left: 1px;
    margin-right: 1px;
    width: 120px;
    height: 100px;
}

#header_c>ul>a>div:hover{
    background: blue;
    cursor: pointer;
}

.text-toolbar
{
    display: inline-block;
    list-style-type: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: large;

}

#img1{
    display:inline-block;
    height: 80px;
}

.splash{
    position: fixed;

    top: 0px;

    left: 0;

    width: 100%;

    height: 100vh;

    background: black;

    z-index: 200;

    align-items: center;
}

.splash img{
    margin-left: 150px;
}

.splash.display-none{
    position: fixed;

    opacity: 0;

    top: 0;

    left: 0;

    width: 100%;

    height: 100vh;

    background: black;

    z-index: -10;

    align-items: center;

    transition: all 0.7s;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;

    animation: fadeIn 1s ease-in forwards;
}

.slider{
    height: 76vh;

    margin-top: 0px;

    position: relative;
}

.slider .list .item{
    position: absolute;

    inset: 0 0 0 0;
    
    overflow: hidden;

    opacity: 0;
    
    transition: 0.5s;
}

.slider .list .item img{
    width: 100%;

    height: 100%;

    object-fit: cover;
}

.slider .list .item::after{
    content: '';

    width: 100%;

    height: 100%;

    position: absolute;

    left: 0;

    bottom: 0;

    background-image: linear-gradient(
        to top, black 20%, transparent
    );
}

.slider .list .item.active{
    opacity: 1;

    z-index: 10;
}

@keyframes showContent {
    to{
        transform: translateY(0);

        filter: blur(0);

        opacity: 1;
    }
}

.arrows{
    position: absolute;

    top: 30%;
    
    right: 50px;

    z-index: 100;
}

.arrows button{
    background-color: #eee5;

    border: none;

    font-family: monospace;

    width: 40px;

    height: 40px;

    border-radius: 5px;

    font-size: x-large;

    color: #eee;

    transition: .5s;
}

.arrows button:hover{
    background-color: #eee;

    color: black;   
}

/* de aici e codul pt footer */

footer{
    width: 100%;

    bottom: 0;

    height: 50vh;

    position: relative;
    
    background: linear-gradient(to right, #00093c, #2d0b00);

    color: #fff;

    padding: 100px 0 30px;

    border-top-left-radius: 125px;

    font-size: 13px;

    line-height: 20px;
}

.row{
    width: 85%;

    margin: auto;

    display: flex;

    flex-wrap: wrap;

    align-items: flex-start;

    justify-content: space-between;
}

.col{
    flex-basis: 25%;

    padding: 5px;
}

/* .logo{
    margin-left: -110px;

    margin-top: -80px;
} */

.col h3{
    width: fit-content;

    margin-bottom: 40px;

    position: relative;
}

.email-id{
    width: fit-content;

    border-bottom: 1px solid #ccc;

    margin: 20px 0;
}

#foot ul li{

    margin-left: -40px;

    list-style: none;

    margin-bottom: 12px;
}

#foot ul li a{
    text-decoration: none;

    color: #fff;

    


}

hr{
    width: 90%;

    border: 0;

    border-bottom: 1px solid #ccc;

    margin: 20px auto;

}

.underline{
    width: 100%;

    height: 5px;

    background: #767676;

    border-radius: 3px;

    position: absolute;

    top: 25px;

    left: 0;

    overflow: hidden;
}

.underline span{
    width: 15px;

    height: 100%;

    background: #fff;

    border-radius: 3px;
    
    position: absolute;
    
    top: 0;

    left: 10px;

    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }

    100%{
        left: 100%;
    }
}