body{
    background-image: url('');

    background-color: black;

    color: #eee;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header{
    width: 1200px;

    max-width: 90%;

    margin: auto;

    display: grid;

    grid-template-columns: 50px 1fr 50px;

    grid-template-rows: 50px;

    justify-content: center;

    align-items: center;

    position: relative;

    z-index: 100;
}

#header img{
    display: flex;

    justify-content: center;

    margin-left:450px;

}

.splash{
    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100vh;

    background: black;

    z-index: 200;

    align-items: center;
}

.splash img{
    margin-left: 150px;
}

.splash.display-none{
    position: fixed;

    opacity: 0;

    top: 0;

    left: 0;

    width: 100%;

    height: 100vh;

    background: black;

    z-index: -10;

    align-items: center;

    transition: all 0.7s;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;

    animation: fadeIn 1s ease-in forwards;
}

.slider{
    height: 100vh;

    margin-top: 0px;

    position: relative;
}

.slider .list .item{
    position: absolute;

    inset: 0 0 0 0;
    
    overflow: hidden;

    opacity: 0;
    
    transition: 0.5s;
}

.slider .list .item img{
    width: 100%;

    height: 100%;

    object-fit: cover;
}

.slider .list .item::after{
    content: '';

    width: 100%;

    height: 100%;

    position: absolute;

    left: 0;

    bottom: 0;

    background-image: linear-gradient(
        to top, black 20%, transparent
    );
}

.slider .list .item.active{
    opacity: 1;

    z-index: 10;
}

@keyframes showContent {
    to{
        transform: translateY(0);

        filter: blur(0);

        opacity: 1;
    }
}

.arrows{
    position: absolute;

    top: 30%;
    
    right: 50px;

    z-index: 100;
}

.arrows button{
    background-color: #eee5;

    border: none;

    font-family: monospace;

    width: 40px;

    height: 40px;

    border-radius: 5px;

    font-size: x-large;

    color: #eee;

    transition: .5s;
}

.arrows button:hover{
    background-color: #eee;

    color: black;   
}
